<nav class="w-full border-b border-slate-200 bg-white">
  <div class="mx-auto flex h-18 max-w-7xl items-center justify-between px-6">

    <!-- Logo -->
    <a routerLink="/"
      class="text-xl font-bold tracking-tight text-[#0B7A6B]">
    <img 
        src="/images/Logos Agora 1.png" 
        alt="Logo ÁGORA"
        class="h-18 w-auto">
    </a>

    <!-- Navegación -->
    <div class="flex items-center gap-8">

      <a
        href="#empleos"
        class="text-sm font-medium text-[#0F172A] transition-colors duration-200 hover:text-[#0B7A6B]"
      >
        Empleos
      </a>

      <a
        href="#asistente"
        class="text-sm font-medium text-[#0F172A] transition-colors duration-200 hover:text-[#0B7A6B]"
      >
        Asistente IA
      </a>

      <a
        href="#empresas"
        class="text-sm font-medium text-[#0F172A] transition-colors duration-200 hover:text-[#0B7A6B]"
      >
        Para empresas
      </a>

      <a
        href="#como-funciona"
        class="text-sm font-medium text-[#0F172A] transition-colors duration-200 hover:text-[#0B7A6B]"
      >
        ¿Cómo funciona?
      </a>

    </div>

    <!-- Acciones -->
    <div class="flex items-center gap-4">

      <!-- Iniciar sesión -->
      <a
        routerLink="/login"
        class="cursor-pointer rounded-lg border border-[#0B7A6B] px-5 py-2.5 text-sm font-semibold text-[#0B7A6B] transition-colors duration-200 hover:bg-[#0B7A6B] hover:text-white focus:outline-none focus:ring-2 focus:ring-[#0B7A6B]/40"
      >
        Iniciar sesión
      </a>

      <!-- Registrarse -->
      <a
        href="/frontend/src/app/features/auth/pages/register/register.html"
        class="cursor-pointer rounded-lg bg-[#0B7A6B] px-5 py-2.5 text-sm font-semibold text-white transition-colors duration-200 hover:bg-[#064635] focus:outline-none focus:ring-2 focus:ring-[#0B7A6B]/40"
      >
        Registrarse
      </a>

    </div>

  </div>
</nav>